.button {
  all: unset;
  padding: 8px 10px;
  background-color: #0000ff;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  cursor: pointer;
}
